<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>How-To - Design</title>
	</head>
	<body>
		<header>
			<h1>Design</h1>
		</header>
		<main>
			
			<section id="responsibilities">
				<h2>Design responsibilities</h2>
				{how it has to work or must do}
			</section>
			
			<section id="tips">
				<h2>Designer tips</h2>
				{anything the designer should be aware of for this guideline}
			</section>
			
			<section id="users">
				<h2>User testing and meaningful involvement</h2>
				{involving people with disabilities for this guideline, user research with people with disabilities for this guideline}
			</section>
		</main>
	</body>
</html>