<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>How-To - Develop</title>
	</head>
	<body>
		<h1>Develop</h1>
		
		<section id="responsibilities">
			<h2>Technical responsibilities</h2>
			{high-level information about what developers should ensure content works or does}
		</section>
		
		<section id="demos">
			<h2>Demonstrations</h2>
			{applicable video or examples of pseudo-code (not platform-specific)}
		</section>
		
		<section id="technical">
			<h2>Technical tips</h2>
			{anything a developer should watch out for or particularly be aware of}
		</section>
	</body>
</html>