<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>User Needs & Functional Needs</title>
	</head>
	<body>
		<header>
			<h1>User Needs & Functional Needs</h1>
		</header>
		<main>
		<p>
		<section id="outcome1">
		<h2><strong class="outcomeName">{Outcome Name</strong> &mdash; Description}</h2>
			<section id="barrier1">
				<h3>Barriers Encountered</h3>
				<ul>
					<li> </li>
				</ul>
			</section>	
			<section id="common1">
				<h3>Common User Needs</h3>
				<ul>
					<li> </li>
				</ul>
			</section>
			<section id="unique1">
				<h3>Unique User Needs</h3>
				<ul>
					<li> </li>
				</ul>
			</section>
		</section>
		<section id="functional">
		<h2>Functional Needs</h2>
		<ul>
			<li> </li>
		</ul>
		</section>
		</main>
	</body>
</html>