<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>How-To - Plan</title>
	</head>
	<body>
		<header>
			<h1>Plan</h1>
		</header>
		<main>
			<section id="responsibilities">
				<h2>Planning responsibilities</h2>
				{what to ensure happens, and how it has to work or must do}
			</section>
			
			<section id="collaboration">
				<h2>Tips for collaboration</h2>
				{Where communication is important with designers, developers, testers}
			</section>
			
			<section id="stages">
				<h2>Planning for each stage</h2>
				
				<section id="early">
					<h3>How to get started early</h3>
					{non-technical information about taking this guideline into account while developing site}
				</section>
				
				<section id="remediate">
					<h3>How to remediate</h3>
					{non-technical information about how to address this guideline in existing content}
				</section>
			</section>
		</main>
	</body>
</html>