details {
	margin: 3em;
	padding: 1em;
	color: #404040;
	border: medium solid #d9d9d9;
	background-color: #F3F3F3;
}
.summary summary::before {
	content: url(img/summary.svg);
	display: block;
	vertical-align: text-top;
	width: 2em;
	position: relative;
	left: -4em;
	float: left;
	margin-right: -3em;
}
.summaryEnd {
	text-align: center;
	font-weight: bold;
}
.howto-link, .outcome-link {
	font-style: italic;
}
figure {
	float: right;
}
a.internalDFN:hover, .internalDFN:active, a.internalDFN:focus {
	cursor: help;
}
.outcome {
	margin-left: 2rem;
}
.outcome h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	color: #005A9C;
}
.guideline h3 bdi::before {
	content: url(img/guideline.svg);
	display: inline-block;
	width: 2em;
	margin-right: .5em;
	vertical-align: text-top;
}
.outcome h4 {
	margin-top: 1rem;
	margin-left: -2rem;
}
.outcome h4::before {
	content: url(img/outcome.svg);
	display: inline-block;
	vertical-align: text-top;
	margin-right: .5em;
	width: 2em;
}
.methods h5, .errors h5, .rating h5 {
	font-size: 100%;
	color: #005A9C;
}
.rating-table, .rating-table th, .rating-table td {
	border: 1px solid black;
	vertical-align: top;
	border-collapse: collapse;
	padding: 5px;
}
.rating-table th[scope=row] {
	white-space: nowrap;
}
caption {
	font-style: normal !important;
	font-weight: bold;
	font-size: 100% !important;
}
.figure-float {
	
}
.figure-float-odd {
	float: right;
	margin-left: 2em;
}
.figure-float-even {
	float: left;
	margin-right: 2em;
}
.figure-full {
	display: block;
	margin: auto;
}
.screenshot {
	width: 400px;
}
section {
	clear: both;
}