caption {
	visibility: hidden;
}
:not(.head) > details {
	padding: 1em;
	color: #404040;
	border: medium solid #d9d9d9;
	background-color: #F3F3F3;
}
summary::after {
	display: inline-block;
	margin-top: -1em;
	width: 3em;
	position: relative;
}
summary::after {
	right: 0em;
	top: .25em;
	float: right;
}
:not(.head) > details:focus summary::after, :not(.head) > details:hover summary::after {
	background-color: #ffff99 ;
	box-shadow: 0 0 1em .25em #ffff99;
}
.summary summary::after {
	content: url(img/summary.svg);
}
.summaryEnd {
	text-align: center;
	font-weight: bold;
}

/* removing for readability
.howto-link, .outcome-link {
	font-style: italic;
} */

.howto-link {
	margin-top: 0;
}

a.internalDFN[title]:hover, .internalDFN[title]:active, a.internalDFN[title]:focus {
	cursor: help;
}
.outcome h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	color: #005A9C;
}
.guideline-text, .outcome-text {
	font-size: 11 0%;
	margin-top: 0;
	margin-bottom: 0;
	text-indent: 50px;
}
.guideline h3, .outcome h4 {
	width: 100%;
	margin-bottom: 0;
	margin-top: .4em;
}
.guideline h3 {
font-size: 120%;
color: black;
}

.guideline p {
	margin-top: 0;
	text-indent: 50px;
}

h2, h3, h4 {
	width: 100%;
	margin-bottom: .3em;
	margin-top: .75em;
}

h4 {font-size: 110%}

h5, h6 {
	width: 100%;
	font-style: normal !important;
	margin-top: 1rem;
	margin-bottom: 0;

}

.methods h5, .errors h5, .rating h5 {
	font-size: 100%;
	color: #005A9C;
}
.rating-table, .rating-table th, .rating-table td {
	border: 1px solid black;
	vertical-align: top;
	border-collapse: collapse;
	padding: 5px;
}
.rating-table th[scope=row] {
	white-space: nowrap;
}
caption {
	font-style: normal !important;
	font-weight: bold;
	font-size: 100% !important;
}
.figure-float {
	float: right;
	margin-left: 2em;
	margin-right: 0;
	margin-top: 0;
}
.figure-float-odd {
	float: right;
	margin-left: 2em;
	margin-right: 0;
}
.figure-float-even {
	float: left;
	margin-right: 2em;
	margin-left: 0;
}
.figure-full {
	display: block;
	margin: auto;
}
.screenshot {
	width: 400px;
}
.note {
	overflow: visible !important;
}
.marker {
	position: relative;
}
.marker > a.self-link{
	border: none;
	color: inherit;
	font-size: 83%;
	height: 2em;
	left: -3em;
	opacity: .5;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: opacity .2s;
	width: 2em;
}
.marker > a.self-link::before {
	content: "§";
	display: block;
}
a[href].status-link {
	color: var(--text);
}
.status-filter 
{
	float: right;
	border: thin solid #005A9C;
	border-radius: 1ex;
	padding: 1ex;
	cursor: help;
	text-indent: 0px;
	font-weight: bolder;
	font-size: .75em;
}
@media screen and (min-width: 860px) {
	.sticky {
		position: sticky;
		top: .6em;
		z-index: 9001;
		box-shadow: 0 3px 10px rgb(0 0 0 / .2);
	}
}