.summary {
	margin: 2em;
	padding: 1em;
	color: #404040;
	border: medium solid #d9d9d9;
}
.summary:before {
	content: "Simplified Summary";
	font-weight: bold;
}
figure {
	float: right;
}
a.internalDFN:hover, .internalDFN:active, a.internalDFN:focus {
	cursor: help;
}
.outcome {
	margin-left: 2rem;
}
.outcome h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	color: #005A9C;
	margin-top: 1rem;
	margin-left: -2rem;
}