<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/master.css">
  <title></title>
</head>

<body>
  <header>
</nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title bg-dark">
            <h1 class="text-light title">{{page.title}}</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <nav aria-label="Breadcrumbs">
            <ul class="breadcrumb">
              <li>Home</li>
            </ul>
          </nav>
        </div>
      </div>

      </div>
    </div>
  </header>
