/*global site styles*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.site-header {
  width: 100%;
  height: 150px;
  background-color: #e1e1e1;
  text-align: center;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-wrapper {
  width: 100%;
  padding-bottom: 5em;
  flex: 1 0 auto;
}

.site-footer {
  width: 100%;
  height: 200px;
  background-color: #e1e1e1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*links that are visible in focus/active state */

a.element-focusable:link,
a.element-focusable:visited {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px); /*IE6 and IE7 use the wrong syntax.*/
}

a.element-focusable:active,
a.element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/*page layout*/

.grid-container {
  min-width: 260px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.5em;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    grid-template-columns: auto auto auto auto;
  }
}

.guideline__header {
  grid-column: 1 / span 3;
}

.guideline__body {
  grid-column: 1 / span 3;
}

.guideline__rail {
  grid-column: 4 / span 1;
}
