a.element-focusable:link,
a.element-focusable:visited {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px); /*IE6 and IE7 use the wrong syntax.*/
}

a.element-focusable:active,
a.element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.site-wrapper {
  width: 100%;
  min-width: 260px;
  max-width: 1600px;
  margin: 0 auto;
}

.grid-container {
  margin: 0 1.5em;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    grid-template-columns: auto auto auto auto;
  }
}

.guideline__header {
  grid-column: 1 / span 3;
}

.guideline__body {
  grid-column: 1 / span 3;
}

.guideline__rail {
  grid-column: 4 / span 1;
}
