/*font families*/

/*These are google fonts, but let's avoid using google script to load them, since that will cause the site to be blocked in China.
*/

@font-face {
  font-family: Noto Sans;
  src: url(../fonts/NotoSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Noto Sans Italic;
  src: url(../fonts/NotoSans-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Noto Sans Bold;
  src: url(../fonts/NotoSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Noto Sans Bold Italic;
  src: url(../fonts/NotoSans-Bold.ttf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Noto Serif;
  src: url(../fonts/NotoSerif-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Noto Serif Italic;
  src: url(../fonts/NotoSerif-Italic.ttf);
  font-style: italic
  font-weight: 400;
}

@font-face {
  font-family: Noto Serif Bold;
  src: url(../fonts/NotoSerif-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Noto Serif Bold Italic;
  src: url(../fonts/NotoSerif-Bold.ttf);
  font-style: italic;
  font-weight: 700;
}

/*global site styles*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Noto Sans, Trebuchet MS, Helvetica Neue, Arial, sans-serif;
}

section {
  margin: 3em 0;
}

.site-header {
  width: 100%;
  height: 150px;
  background-color: #e1e1e1;
  text-align: center;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-wrapper {
  width: 100%;
  padding-bottom: 5em;
  flex: 1 0 auto;
}

.site-footer {
  width: 100%;
  height: 200px;
  background-color: #e1e1e1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*text styles*/
/*These are largely borrowed from the new WAI website*/

h1 {
  font-family: Noto Serif, serif;
  font-weight: 400;
  font-size: 2.2em;
  color: #077682;
  line-height: 1.2;
}

h2 {
  font-family: Noto Serif, serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #005a6a;
  line-height: 1.2;
}

h3 {
  font-family: Noto Sans Bold, sans-serif;
  font-size: 1.125em;
  color: #00424b;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
  font-size: 1em;
  color: #1d1d1d;
}

a:link {
  color: #3c3c70;
  text-decoration: underline;
}

a:visited{
  color: #606;
}

a:hover,
a:active {
  background-color: #c1dde0;
  color: #00424b;
}

ul {
  list-style-type: none;
  margin: 0 0 0 1.5em;
  padding: 0;
}

li {
  margin: 0 0 1em 0;
}

.guideline__date {
  color: #077682;
  font-weight: 700;
  margin-right: .25em;
}

/*links that are visible in focus/active state */

a.element-focusable:link,
a.element-focusable:visited {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px); /*IE6 and IE7 use the wrong syntax.*/
}

a.element-focusable:active,
a.element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/*page layout*/

.grid-container {
  min-width: 260px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.5em;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    grid-template-columns: auto auto auto auto;
  }
}

.guideline__header {
  grid-column: 1 / span 3;
}

.guideline__body {
  grid-column: 1 / span 3;
}

.guideline__rail {
  grid-column: 4 / span 1;
}
