@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

body{
  background-color: #dddddd;
}

.container{
  background-color: #F5F5F5;
  padding: 20px;
}

.logo{
  width: 100px;
}

.logo-silver{
  float: right;
}

h1, h2, h3, p, li{
  color: #101010;
  font-family: Arial, Helvetica, san-serif;
}

h2, h3{
  margin-bottom: 0;
}
.silver{
  color: #eeeeee;
  background: #808080;
  font-family: "Ubuntu";
  font-weight: 300;
  display: inline-block;
  padding: 5px 15px;
  border-color: #A9A9A9;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
}

header{
  padding-bottom: 10px;
}

h2.breadcrumb-title {
  display: inline;
  font-size: 14px;
  margin-bottom: 0px;
  padding-left: 4px;
} */
