/* sizing: https://www.modularscale.com/?1&em&1.25 */

h1, .h1{
  font-size: 3.052rem;
  line-height: 1;
  margin:0.64em 0;
}
h2, .h2{
  font-size: 2.441rem;
  line-height: 1;
  margin:0.64em 0;
}
h3, .h3{
  font-size: 1.593rem;
  line-height: 1;
  margin:0.64em 0;
}
h3, .h3{
  font-size: 1.563rem;
  line-height: 1;
  margin:0.64em 0;
}
h4, .h4{
  font-size: 1.25rem;
  line-height: 1;
  margin:0.64em 0;
}
h5, .h5{
  font-size: 1rem;
  line-height: 1;
  margin:0.64em 0;
}
h6, .h6{
  font-size: 1rem;
  line-height: 1;
  margin:0.64em 0;
}