.u-hidden-visually {
  clip:rect(0,0,0,0);
  -webkit-clip-path:inset(50%);
  clip-path:inset(50%);
  height:1px;
  overflow:hidden;
  position:absolute;
  white-space:nowrap;
  width:1px;
}

.u-hidden, [hidden]{
  display:none !important;
}

.u-block{
  display:block;
}

.u-no-focus-highlight:focus{
  outline:none;
}