/* colors */

:root{
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  --black:hsl(0,0%,0%);
  --white:hsl(0,0%,100%);
  --inaccessible-error:hsl(0,100%,50%);
}