<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Method - Description</title>
	</head>
	<body>
		<header>
			<h1>Description</h1>
		</header>
		<main>
			<section id="outcome">
				<h2>Outcome and Functional Categories</h2>
				<p>This method supports the outcome {Outcome name and link}.</p>
				<p>This outcome relates to the following functional categories:</p>
				<ul>
					<li><strong>{Delete this line and those categories not applicable}</strong></li>
					<li>Essential </li>
					<li>Sensory - Vision &amp; Visual </li>
					<li>Sensory - Hearing &amp; Auditory </li>
					<li>Sensory Intersections </li>
					<li>Physical - Mobility </li>
					<li>Physical - Motor </li>
					<li>Physical &amp; Sensory Intersections </li>
					<li>Speech </li>
					<li>Cognitive - Attention </li>
					<li>Cognitive - Language &amp; Literacy </li>
					<li>Cognitive - Learning </li>
					<li>Cognitive - Memory </li>
					<li>Cognitive - Executive </li>
					<li>Cognitive - Mental Health </li>
					<li>Cognitive &amp; Sensory Intersections </li>
					<li>Independence </li>
				</ul>
			</section>
			<section id="details">
				<h2>Detailed description</h2>
				{detailed description of the method, including instructions to implement that don't depend on examples}
			</section>
			<section id="dependencies">
				<h2>Dependencies</h2>
				<p>None</p>
				<ul>
					<li>{list of other methods that must be used along with this one} </li>
				</ul>
			</section>
		</main>
	</body>
</html>