<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Method: [name] | {Guideline} | WCAG 3.0</title>
	</head>
	<body>
		<header>
			<h1>{Method Name}</h1>
		</header>
		<main>
		<!-- This list is for editorial convenience and will be converted to tabs by the generator -->
		<ul>
			<li><a href="introduction.html">Introduction</a></li>
            <li><a href="background.html">Background</a></li>
            <li><a href="examples.html">Examples</a></li>
            <li><a href="tests.html">Tests</a></li>
            <li><a href="glossary.html">Glossary</a></li>
		</ul>
		</main>
		<footer>
			<section id="status">
				<h2>Status</h2>
				<p>{current maturity status of this method}</p>
			</section>
			<section id="changelog">
				<h2>Change Log</h2>
				<ul>
					<li>{list of non-editorial changes by date}</li>
				</ul>
			</section>
		</footer>
	</body>
</html>