<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Method - Tests</title>
	</head>
	<body>
		<header>
			<h1>Tests</h1>
		</header>
		<main>
			<section id="atomic">
				<h2>Atomic Tests</h2>
				<ul>
					<li>{list of links to tests}</li>
				</ul>
				<section>
					{Use copies of this section for WCAG 2-style tests}
					<h3>Test Name</h3>
					<section>
						<h4>Test Procedure</h4>
						<ol>
							<li>Step 1</li>
							<li>Step 2</li>
						</ol>
					</section>
					<section>
						<h4>Expected Results</h4>
						<p>Check #2 is true. </p>
					</section>
				</section>
			</section>
			<section id="holistic">
				<h2>Holistic Tests</h2>
				<ul>
					<li>{list of links to tests}</li>
				</ul>
			</section>
		</main>
	</body>
</html>