// Digital fingerprint styles
// ==========================================================================

.fingerprint-container {
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: $pale-grey;
    padding: 25px;
}

.fingerprint-explanation {
    float: right;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    color: $dark-grey;
    background: $dark-grey;
    border: 0;
}
